.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

#entitylist {
  float: right;
  display: flex;
  flex-direction: column;
}

.entityDebug {
  font-size: 0.8em;
  width: 220px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  margin: 10px;
}

svg {
  background-color:  black;
  width: 600px;
  height: 450px;
  float: left;
}

polygon {
  stroke: #ffffff;
  stroke-width: 1px;
}
